.interview-container {
    width: 100%;
    margin: 2rem;
}

.interview-no-result-text,
.no-result-found-container {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
}

.company-card-main-container {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
    padding: 2rem;
}

.autoWrite {
    color: var(--primary-color);
    margin-left: 8px;
}

.no-result-found-container {
    color: var(--primary-color);
}

.no-result-found-container span {
    color: var(--home-text-color);
    padding-left: 8px;
}