.interview-container{
    margin: 24px;
    width: 100%;
}

.interview-no-result-text{
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.company-card-main-container{
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
}