.course-page-container{
    min-height: 100vh;
    max-height: 100%;
}

.course-page-header{
    display: flex;
    align-items: center;
    gap: 16px;
}

.course-page-header img{
    height: 48px;
}

.module-course-container{
    display: flex;
    flex-direction: column;
}

.module-course-list{
    display: flex;
    gap: 24px;
}

.topic-card-course-container{   
    display: flex;
    flex-direction: column;
}