.topic-page-container {
    min-height: 100vh;
    max-height: 100%;
    margin: 48px;
    display: flex;
    flex-direction: column;
}

.topic-page-container a {
    text-decoration: underline;
    text-underline-offset: 4px;
}

.topic-page-container a:hover {
    color: #aaa;
    cursor: pointer;
}

.topic-page-nav-menu {
    display: flex;
    gap: 8px;
}

.topic-page-code-snippet-container {
    max-width: 400px;
}

.topic-heading-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topic-heading-btn .topic-page-completed-btn {
    max-height: 36px;
    padding: 8px 12px;
    border-radius: 8px;
    outline: none;
    border: none;
    background-color: rgb(40 167 69/1);
    font-weight: 600;
    cursor: pointer;
    color: rgb(255 255 255/1);
}

.topic-page-relearn-btn{
    max-height: 36px;
    padding: 8px 12px;
    border-radius: 8px;
    outline: none;
    border: none;
    background-color: var(--topic-page-btn-bg-color);
    color: var(--topic-page-btn-color);
    font-weight: 600;
    cursor: pointer;
}

.topic-completion-status-btns{
    display: flex;
    gap: 24px;
}

@media screen and (max-width: 2400px) {
    .topic-page-code-snippet-container {
        max-width: 1600px;
    }
}

@media screen and (max-width: 1600px) {
    .topic-page-code-snippet-container {
        max-width: 1200px;
    }
}

@media screen and (max-width: 1200px) {
    .topic-page-code-snippet-container {
        max-width: 800px;
    }
}

@media screen and (max-width: 768px) {
    .topic-page-code-snippet-container {
        max-width: 360px;
    }
}

@media screen and (max-width: 560px) {
    .topic-page-code-snippet-container {
        max-width: 260px;
    }
}