.add-btn:hover {
    background-color: #fff;
    color: #000;
    box-shadow: 0 10px 36px rgba(0, 0, 0, 0.30);
}

.error-msg{
    max-width: 100%;
}

@media screen and (max-width: 2400px){
    .joblink-dialog{
        max-height: 800px;
    }
    .filter-container{
        max-height: 80vh;
    }
}

@media screen and (max-width: 1600px){
    .joblink-dialog{
        max-height: 680px;
    }
    .filter-container{
        max-height: 70vh;
    }
}
