.profile-container {
    margin-right: 3rem;
    display: flex;
    gap: 16px;
    align-items: center;
}

.dark-mode-container svg {
    cursor: pointer;
}

.profile-login-btn {
    max-height: 36px;
    padding: 12px 24px;
    border-radius: 8px;
    outline: none;
    border: none;
    background-color: var(--primary-color);
    font-weight: 600;
    cursor: pointer;
    color: rgb(255 255 255/1);
    font-weight: 600;
}

.profile-login-btn:hover {
    background-color: #fff;
    color: #000;
}