.header-container{
    height: 4rem;
    display: flex;
    padding: 1rem;
    align-items: center;
    border-bottom: 0.5px solid hsla(0, 0%, 53.3%, 0.4);
    position: fixed;
    width: 100%;
    z-index: 10;
    background-color: var(--home-bg-color);
    justify-content: space-between;
}

.menu-logo-container{
    display: flex;
    gap: 2rem;
    align-items: center;
}

.menu-logo-container svg{
    margin-left: 18px;
    cursor: pointer;
    padding: 0px 8px;
}