.sidebar-container {
    border-right: 0.5px solid hsla(0, 0%, 53.3%, 0.4);
}

.sidebar-container ul {
    padding: 0;
}

.sidebar-ul li {
    list-style-type: none;
    padding: 6px 24px 6px 0;
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 0.8rem;
    letter-spacing: 0.4px;
    margin: 12px !important;
    white-space: nowrap;
    padding-left: 18px;
}

.router-link {
    width: 100%;
}

.sidebar-ul li:hover {
    background-color: oklch(50.5% 0.213 27.518);
    color: #fff;
    cursor: pointer;
    border-radius: 8px;
}

.sidebar-ul h4 {
    display: flex;
    gap: 8px;
    align-items: center;
    padding-left: 16px;
}

hr {
    border: none;
    border-top: 0.5px solid hsla(0, 0%, 53.3%, 0.4);
}

.selected-tab {
    background-color: oklch(50.5% 0.213 27.518);
    color: #fff;
    cursor: pointer;
    border-radius: 8px;
    font-weight: 600;
}

a {
    all: unset;
}

@media screen and (max-width:586px) {
    .sidebar-ul li span {
        display: none;
    }

    h4 {
        font-size: 0.8rem;
    }

    .sidebar-container ul {
        padding-left: 12px;
    }
}