:root{
  --home-bg-color: rgb(22 24 29/1);
  --home-text-color: #fff;
  --sidarbar-hover-bg-color: #334155;
  --course-card-hover-bg-color: aliceblue;
  --course-card-hover-text-color: #000;
  --course-card-border-color: #aaa;
}

.light-mode{
  --home-bg-color: #fff;
  --home-text-color: #000;
  --sidarbar-hover-bg-color: rgba(255,255,255,0.1);
  --course-card-hover-bg-color: rgb(41, 39, 39);
  --course-card-hover-text-color: #fff;
  --course-card-border-color: #aaa;
}

body{
  margin: 0;
  padding: 0;
}